body {
    color: #333;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#quote-box {
    border-radius: 3px;
    position: relative;
    width: 500px;
    padding: 40px 50px;
    display: table;
    background-color: white;
    text-align: center;
}

@media (max-width: 500px) {
    #quote-box {
      width: 96%;
      margin-left: auto;
      margin-right: auto;
    }
  }

#new-quote {
    float: right;
    border: none;
    font-weight: 200;
}

.btn:focus,.btn:active {
    outline: none;
    box-shadow: none;
    border: none
    }

#tweet {
    border: none;
}

#tweet-quote {
    float: left;
}

#author {
    font-size: "17px";
    text-align: right;
}


